//@import 'owl.carousel/src/scss/owl.carousel.scss';
//@import 'owl.carousel/src/scss/owl.theme.default.scss';

@import "../common.scss";

.wp-block-abourgeons-18-fall-carousel {
	margin: 0;

	.block-img {
		height: 20em;
	}

	.owl-item {
			.block-library-carousel-item__inline-menu {
				display: inline-block;
				float: right;

				button {
					float:right;
				}
				form {
					float: right;
				}
			}
	}
}
