//@import 'owl.carousel/src/scss/owl.carousel.scss';
//@import 'owl.carousel/src/scss/owl.theme.default.scss';

@import "../common.scss";

.wp-block-abourgeons-18-fall-carousel {
	margin: 0;

	.block-img {
		height: 20em;
		block-img: 100%;
		.offsettab {
			.button {
				padding: 0;
				height: auto;
				padding: 0;
				line-height: 1.8;
			}
		}

	}

		.owl-item {
				.block-library-carousel-item__inline-menu {
					display: inline-block;
					float: right;

			}
	}

}
