@import "../common.scss";

.wp-block-abourgeons-18-fall-carousel {
	  height: auto;
		margin-left: 0;

		&.owl-result .owl-stage-outer {

		}

		.owl-nav {

			button {
				height: 30px;
				width: 30px;
				position: absolute;
		    bottom: 50%;
				&.owl-prev {
					left: 0;
				}

				&.owl-next {
					right:0;
				}

			}


		}

		&.owl-theme .owl-dots {
			position: absolute;
			bottom: 0;
			.owl-dot {
				span {
					background: $white;
				}
			}
		}

}

@media only screen and (max-width: $break-small) {
	.wp-block-abourgeons-18-fall-carousel.NoMobile {
		.owl-stage {
			transform: none!important;
			width: 100%!important;
			transition: none!important;
		}
		.owl-nav {
			display: none!important;
		}
		.owl-dots {
			display: none!important;
		}
		.owl-item {
			animation-duration: unset!important;
			touch-action: none!important;
			animation-fill-mode: unset!important;
			animation-name: unset!important;
			width: 100%!important;
    	left: 0!important;
		}

	}
}
