@import "../common.scss";

.wp-block-abourgeons-18-fall-carousel {
	  height: auto;
		margin-left: 0;

		&.owl-result .owl-stage-outer {

		}

		.owl-nav {

			button {
				height: 30px;
				width: 30px;
				position: absolute;
		    bottom: 50%;
				&.owl-prev {
					left: 0;
				}

				&.owl-next {
					right:0;
				}

			}


		}

		&.owl-theme .owl-dots {
			position: absolute;
			bottom: 0;
			.owl-dot {
				span {
					background: $white;
				}
			}
		}

}
